{% extends 'base.html' %}


{% load i18n account static %}


{% block base %}


<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" class="carousel slide carousel-fade" data-ride="carousel">
            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>

            <div class="carousel-inner" role="listbox">

                <div class="carousel-item active" id="slide1">
                    <div class="carousel-background"><img src="{% static 'assets/img/slide/slide-1.jpg' %}" alt="">
                    </div>

                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown"><span>Imóveis</span> Exclusivos</h2>
                            <p class="animate__animated animate__fadeInUp">Exclusividade para você e sua família</p>
                            <div>
                                <a href="#gallery" class="btn-menu animate__animated animate__fadeInUp scrollto">Galeria de fotos</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="carousel-item" id="slide2">
                    <div class="carousel-background"><img src="{% static 'assets/img/slide/slide-2.jpg' %}" alt="">
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Localização Privilegiada</h2>
                            <p class="animate__animated animate__fadeInUp">Localizado próximo ao pórtico e Cristais de Gramado, o imóvel fica perto de mercado, farmácia, rodoviária, posto de gasolina, bancos, lojas e tudo mais que você precisar</p>
                        </div>
                    </div>
                </div>


                <div class="carousel-item" id="slide3">
                    <div class="carousel-background"><img src="{% static 'assets/img/slide/slide-3.jpg' %}" alt="">
                    </div>
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Contato</h2>
                            <p class="animate__animated animate__fadeInUp">Entre em contato não perca essa oportunidade exclusiva</p>
                        </div>
                    </div>
                </div>

            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon icofont-simple-left" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon icofont-simple-right" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>

        </div>
    </div>
</section>

<main id="main">

    <section id="gallery" class="gallery">
        <div class="container-fluid">

            <div class="section-title">
                <h2>Fotos <span>da nossa Galeria</span></h2>
                <p>Imagens do imóvel</p>
            </div>

            <div class="row no-gutters">

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-1.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-1.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-2.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-2.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-3.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-3.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-4.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-4.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-5.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-5.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-6.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-6.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-7.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-7.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-8.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-8.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-9.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-9.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-10.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-10.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-11.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-11.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4">
                    <div class="gallery-item">
                        <a href="{% static 'assets/img/gallery/gallery-12.jpg' %}" class="venobox"
                            data-gall="gallery-item">
                            <img src="{% static 'assets/img/gallery/gallery-12.jpg' %}" alt="" class="img-fluid">
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </section>
    
    <section id="contact" class="contact">
        <div class="container">

            <div class="section-title">
                <h2><span>Fale Conosco</span></h2>
                <p>Estamos prontos para atendê-lo e responder todas as dúvidas.</p>
            </div>
        </div>

        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d868.8107680618997!2d-50.86438897081815!3d-29.421691330742252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951931eb07f92589%3A0x7a4d26a415729193!2sRua%20Carlos%20Ramisch%2C%20384%20-%20Vila%20do%20Sol%2C%20Gramado%20-%20RS%2C%2095670-000!5e0!3m2!1spt-BR!2sbr!4v1646158600817!5m2!1spt-BR!2sbr" width=100% height="450" style="border:0;" allowfullscreen="" frameborder="0" allowfullscreen></iframe>
        </div>

        <div id="book-a-table" class="container mt-5">

            <div class="info-wrap">
                <div class="row">

                    <div class="col-lg-6 col-md-6 info mt-4 mt-lg-0">
                        <i class="icofont-envelope"></i>
                        <h4>Email:</h4>
                        <p>info@example.com<br>contact@example.com</p>
                    </div>

                    <div class="col-lg-6 col-md-6 info mt-4 mt-lg-0">
                        <i class="icofont-phone"></i>
                        <h4>Ligue:</h4>
                        <p>54 99636-3837 <br>54 91111-1111</p>
                    </div>
                </div>
            </div>

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
                <div class="form-row">
                    <div class="col-md-6 form-group">
                        <input type="text" name="name" class="form-control" id="name" placeholder="Seu Nome"
                            data-rule="minlen:4" data-msg="Por favor, insira pelo menos 4 caracteres" />
                        <div class="validate"></div>
                    </div>
                    <div class="col-md-6 form-group">
                        <input type="email" class="form-control" name="email" id="email" placeholder="Seu Email"
                            data-rule="email" data-msg="Por favor, insira um email válido" />
                        <div class="validate"></div>
                    </div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="subject" id="subject" placeholder="Assunto"
                        data-rule="minlen:4" data-msg="Por favor, insira pelo menos 8 caracteres" />
                    <div class="validate"></div>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="message" rows="5" data-rule="required"
                        data-msg="Por favor escreva uma mensagem para nós." placeholder="Mensagem"></textarea>
                    <div class="validate"></div>
                </div>
                <div class="mb-3">
                    <div class="loading">Carregando</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Sua mensagem foi enviada, obrigado!</div>
                </div>
                <div class="text-center"><button type="submit">Enviar Mensagem</button></div>
            </form>

        </div>
    </section>

</main>

{% endblock %}